/* ========= theme ========== */
.sidebar-dark-lightblue .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-lightblue .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #8b9ee9 !important;
}

.text-lightblue {
    color: #6982e6 !important;
}

.bg-gradient-primary {
    background: #4a6aeb linear-gradient(180deg, #8b9ee9, #778ee9) repeat-x !important;
}

.bg-gradient-primary.btn:hover {
    background: #2a3b81 linear-gradient(180deg, #6a78b1, #48568d) repeat-x !important;
    border-color: #6a78b1 !important;
}

.bg-primary {
    background: #8b9ee9 !important;
}

.btn-lightblue {
    color: #8b9ee9 !important;
}

a {
    color: #162c83;
}

.btn-lightblue:hover {
    background: #2a3b81 linear-gradient(180deg, #6a78b1, #48568d) repeat-x !important;
    border-color: #070808 !important;
}

.sidebar-light-lightblue {
    background-color: #e9eaff !important;
    box-shadow: none !important;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    background-color: aliceblue !important;
}

.elevation-3 {
    background: aliceblue !important;
}

.preloader {
    background-color: aliceblue !important;
}

/* ========= theme end ========== */

.main-content {
    min-height: 520px;
}

.site-logo-placeholder {
    width: auto;
    max-width: 260px;
    max-height: 80px;
}

.popular-format {
    line-height: 35px;
}

.dropzone.dz-clickable {
    border-radius: .25rem;
    border: solid 1px rgb(229 231 235 );
    background-color: rgba(128, 128, 128, 0.171);
}

/* quality slider */


/* Position the tooltip */
.slider-container {
    position: relative;
}

/* Style the tooltip */
.slider-value {
    position: absolute;
    top: -30px;
    /* Adjust this value to position the tooltip vertically */
    left: 50%;
    margin-left: 14px;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    /* Ensure the tooltip doesn't interfere with the slider */
    opacity: 0;
    transition: opacity 0.2s;
}

/* Show the tooltip when hovering over the slider */
.slider-container:hover .slider-value {
    opacity: 1;
}

/* Styling for the slider thumb */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #a5b4fc;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #6b7280;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Thumb styles on hover and active states */
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #e5e7eb;
}

input[type="range"]::-webkit-slider-thumb:active {
    background-color: #d1d5db;
}

/* quality slider end */